/*Первичный цвет #757575 */
/* Вторичный цвет для заголовков #212121 */
/* #FFFFFF; */
/*акцент на  #2196F3;*/
/* бекграунд первиный  #E5E5E5; #FFFFFF */
/* бекграунд вторичный  #FFFFFF; */
/* бекграунд дополнителный #2F303A */
/* бекграунд дополнителный2 #F5F4FA; */
/* Первичный шрифт  'Roboto', sans-serif;*/
/* Вторичный шрифт  'Raleway',sans-serif;*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --additional-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --primary-bgr-color: #ffffff;
  --bg-additional-color: #2f303a;
  --accent-bg-color: #2196f3;
  --bg-additional2-color: #f5f4fa;
  --primary-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
}
body {
  color: var(--primary-text-color);
  background-color: var(--primary-bgr-color);
  font-family: var(--primary-font);
  font-weight: normal;
  letter-spacing: 0.03em;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
img {
  display: block;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
/* Cкрытые заголовки */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6 IE7 */
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* header */
.page-header {
  background-color: var(--primary-bgr-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.logo {
  color: #000000;
  font-family: var(--second-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
.logo-title {
  color: var(--accent-text-color);
}

.nav-menu,
.site-nav {
  display: flex;
  align-items: center;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.site-nav,
.contact {
  display: flex;
}
.site-nav {
  margin-left: 93px;
}
.contact {
  margin-left: auto;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:focus,
.site-nav .link:hover,
.contact-header:focus,
.contact-header:hover,
.link-contact:hover,
.link-contact:focus {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}
.site-nav .current {
  color: var(--accent-text-color);
}

.site-nav-item {
  position: relative;
}
.current.link::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-bg-color);
  bottom: -32px;
}

.contact-header {
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contact {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* hero */
.hero {
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 200px;
}
.main {
  max-width: 1600px;
  text-align: center;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  margin-top: 0;
  color: var(--additional-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto 30px;
}
.btn {
  min-width: 200px;
  color: var(--additional-text-color);
  background-color: var(--accent-bg-color);
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #188ce8;
}
/* Modal button */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: rotateY(90deg) translate(-50%, -50%);
}
.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  background-color: var(--primary-bgr-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-bgr-color);
  cursor: pointer;
}
.close-modal {
  fill: #000000;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal:hover,
.close-modal:focus {
  fill: var(--accent-text-color);
}
.modal-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  color: var(--title-text-color);
  margin-bottom: 12px;
  display: block;
}
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.label-form-modal {
  position: relative;
  display: flex;
  justify-content: flex-start;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  cursor: pointer;
}
.input-form-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-form-modal:focus {
  border-color: var(--accent-bg-color);
  outline: none;
}
.input-form-modal:focus + .modal-icon {
  fill: var(--accent-bg-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-form-modal {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
}
.textarea-form-modal::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.checkbox-form-modal {
  margin-right: 7px;
}
.label-checkbox-modal {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
.label-checkbox-modal::before {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  margin-right: 7px;
  border-radius: 2px;
  cursor: pointer;
}
.checkbox-form-modal:checked + .label-checkbox-modal::before {
  background-color: var(--accent-bg-color);
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2196f3;
  border-radius: 2px;
}
.checkbox-form-modal:focus + .label-checkbox-modal::before {
  box-shadow: 0 0 0 1px #2196f3;
  border: transparent;
}

.agree {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-text-color);
  display: inline-block;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agree:hover,
.agree:focus {
  color: #188ce8;
}
.icon-position-modal {
  position: relative;
  margin-bottom: 10px;
}
.modal-send {
  display: flex;
  align-self: center;
  justify-content: center;
}
.name-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.user-tel-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.user-mail-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* section */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* features */
.features {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.section.title-features {
  padding-bottom: 0;
}
.features-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.features .features-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}
.features-icon {
  background-color: var(--bg-additional2-color);
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-icon-item {
  fill: var(--title-text-color);
}
/* work */
.work {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}
.work-bord {
  position: relative;
}
.work-bord-item::before {
  position: absolute;
  content: '';
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  bottom: 0;
}

.work-bord-text {
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--additional-text-color);
  width: 100%;
  bottom: 0;
  padding: 27px 0;
}
.section.title-work {
  padding-top: 94px;
}

/* Team */
.section.employees {
  background-color: var(--bg-additional2-color);
}
.team {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-top: 30px;
  margin-left: 30px;
  background-color: var(--additional-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team .team-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-icon {
  display: flex;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-social:not(:last-child) {
  margin-right: 10px;
}

.team-social {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social:hover,
.team-social:focus {
  fill: var(--additional-text-color);
  border-radius: 50%;
  background-color: var(--accent-text-color);
}
/* Our Clients */
.client {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.client-item {
  flex-basis: calc((100% - 6 * 30px) / 6);
  margin-top: 30px;
  margin-left: 30px;
}
.client-link {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  fill: var(--accent-bg-color);
  border: 1px solid #2196f3;
}

/* footer */
.page-footer {
  background-color: var(--bg-additional-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.info {
  display: flex;
  align-items: baseline;
}
.studio {
  color: var(--additional-text-color);
}
.page-footer .logo {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;
}
.address-menu {
  font-style: normal;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}
.map {
  color: var(--additional-text-color);
  font-size: 14px;
  line-height: 1.71;
}
/* social link footer */
.connect-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--additional-text-color);
  display: inline-block;
}

.social-connect {
  margin-left: 70px;
}
.connect-social {
  display: flex;
}
.connect-icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect-icon-item {
  fill: var(--primary-bgr-color);
}
.connect-icon-link:hover,
.connect-icon-link:focus {
  background-color: var(--accent-text-color);
}
.connect-item:not(:last-child) {
  margin-right: 10px;
}
/* Форма в футере */
.form-footer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.form-send {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.form-input {
  width: 358px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  color: var(--additional-text-color);
}
.form-input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.send {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 29px;
}

/* main портфолио */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  color: var(--title-text-color);
  background-color: var(--bg-additional2-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-style: inherit;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-text-color);
  color: var(--additional-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}
.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 4px;
}

.project-text {
  font-size: 16px;
  line-height: 1.87;
  margin: 0;
  color: var(--primary-text-color);
}
.project {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.border-card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project-link:hover,
.project-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Позицианирование текста при ховере в карточках */
.animation-overlay {
  position: relative;
  overflow: hidden;
}
.animation-card-text {
  bottom: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  padding: 63px 24px;
}
.animation-overlay-pic::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.animation-card {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .animation-card,
.project-link:focus .animation-card {
  color: var(--additional-text-color);
  opacity: 1;
  transform: translateY(0);
}
.project-link:hover .animation-overlay-pic::before,
.project-link:focus .animation-overlay-pic::before {
  opacity: 1;
  transform: translateY(0);
}
